/* .create-project {
    height: 100%;
    width: 100%;
}

.create-project-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-project-section form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.create-project-section form input {
    padding: 0.5em 1em;
    outline: none;
}

.create-project-section form input[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #005fc4;
    color: rgb(255, 250, 247);
    cursor: pointer;
    transition: all 0.3s ease;
}

.create-project-section form input[type="submit"]:hover {
    background-color: #004b9e;
} */